
/*SECCIÓN GALERÍA*/

.seccion__galeria--grid{
    img{
        filter: grayscale(100%);
        transition: all 0.3s; 

        &:hover{
            filter: grayscale(0%);
            transition: all 0.3s; 
        }
    }   

    video{
        display: flex;
       
        @include tamaño (100%, 100%);
    }   
}