
/*RESPONSIVE*/

@media screen and (min-width: 400px) and (max-width: 767px){

    /*SECCIÓN SOBRE MI*/

    .seccion__sobreMi--flex{
      
        justify-content: center;      
    
        img{
            @include tamaño (400px, auto);
        }
    
        .seccion__sobreMi--container{
            @include tamaño (400px, auto);
           
            p{
                top: 30%;
                left: 50%;
              
                text-align: center;

                @include tamaño (350px, auto);
            }
        }
    }

    /*SECCIÓN NEW IN*/

    .carousel-item{ 

        img{
            @include tamaño (450px, auto);
        }

        h5{
            font-size: 15px;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){

    /*SECCIÓN SOBRE MI*/

    .seccion__sobreMi--flex{
      
        justify-content: center;      
    
        img{
            @include tamaño (500px, auto);
        }
    
        .seccion__sobreMi--container{
            @include tamaño (500px, auto);
           
            p{
                top: 30%;
                left: 50%;
              
                text-align: center;
                font-size: 20px;

                @include tamaño (400px, auto);
            }
        }
    }

    /*SECCIÓN NEW IN*/

    .carousel-item{ 

        img{
            @include tamaño (500px, auto);
        }

        h5{
            font-size: 20px;
        }
    }
}

