
/*SECCIÓN NEW IN*/

h1{
    font: {
        family: 'Wire One', sans-serif;

        size: 50px;
    }

    color: $colorSecundario;

    text-align: center;

    margin: 40px 0;
}

.seccion__newIn--background{
    background: {
        image: url("./multimedia/imagenes/new_in/mancha.png");
        repeat: no-repeat;
        position: center;
        size: contain;
    }
}

.carousel-item{
    img{

        @include tamaño (auto, 900px);

        margin: 0 auto;
    }

    h5{
        color: $colorSecundario;
    }

    button{
        margin-top: 20px;
        padding: 10px 40px;

        color: $colorSecundario;
     
        &:hover{
            background-color: $opacidadSecundario;
            border-radius: 10px; 
        }
    }
}