
/*VARIABLES*/

$colorFuente: rgb(226, 115, 160);
$colorSecundario: white;
$opacidad: rgba(234, 155, 187, .40);
$opacidadSecundario: rgba(234, 155, 187, .60);

/*MAPS*/

@mixin tamaño ($width, $height){
    width: $width;
    height: $height;
}